{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Pine64</h1>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <a href="{{ url_for('hue_control') }}" class="thumbnail">
        <img src="{{ url_for('static', filename='resources/images/hue_icon.png') }}" alt="Hue Control Center" />
        <div class="caption">
          <h3>Hue Control Center</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <a href="{{ netdata_address }}" class="thumbnail">
        <img src="{{ url_for('static', filename='resources/images/netdata.jpg') }}" alt="NetData DashBoard" />
        <div class="caption">
          <h3>NetData Dashboard</h3>
        </div>
      </a>
    </div>
  </div>
{% endblock %}
